html {
  background: #191919;
  font-family: Helvetica, Arial, Sans-Serif;
  height: 100%;
}

body {
  background: #191919;
  height: 100%;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
}

table td {
  margin: 0;
  padding: 0;
}

#header {
  padding: 0 8px;
  background-color: #000;
  border-bottom: solid 1px #46a915;
  width: 100%; 
  height: 52px; 
  color: #e6e6e6; 
  position: fixed; 
  top: 0; 
  line-height: 52px; 
  font-size: 16px;
  z-index: 500;
}

#header a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#header a:hover {
  text-decoration: underline;
}

#player {
  margin-top: 53px;
}

.gear {
  border-left: solid 1px #46a915;
  cursor: pointer;
  padding-right: 10px;
  line-height: 20px;
  height: 51px;
  text-align: center;
  line-height: 56px;
}

.crypto-prices {
  height: 52px;
  overflow: hidden;
  opacity: 0;
}

.price {
  font-size: 15px;
  margin-left: 5px;
}

.price:hover {
  text-decoration: underline;
}

.ticker {
  float: left; 
  margin-left: 22px;
}

.ticker img {
  height: 16px;
  width: 16px;
}

.alert {
  bottom: 20px;
  right: 20px;
  margin: auto;
  position: fixed;
  opacity: 0;
  width: 280px;
}

.alert .avatar {
  height: 46px;
  width: 46px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
  margin-bottom: -8px;
  position: absolute;
  left: 120px;
  top: -42px;
  border: solid 2px #fff;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.25);
}

.alert .message {
  background: #fff;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  margin-left: 8px;
  padding: 12px;
  border: solid 1px #797979;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25);
  float: left;
}

.alert .message img {
  max-width: 250px;
}

#links {
  padding-top: 25px;
  margin-top: 52px;
  overflow: scroll;
  height: 100%;
}

.link {
  background-color: #000; 
  box-sizing: border-box;
  border: solid 15px #000;
  color: #fff;
  max-height: 1200px;
  margin: auto;
  margin-bottom: 26px;
  outline: solid 1px #46a915;
  overflow: hidden;
  text-align: center;
  max-width: 1200px;
  -webkit-box-shadow: 0 3px 3px 0px rgba(0,0,0,1);
}

.link img {
  margin: auto;
  max-width: 100%;
}

.link-image {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(100% - 53px);
}

.spinner {
  text-align: center; 
  width: 100%; 
  position: absolute; 
  top: 45%;
}

.spinner img {
  width: 80px;
}

.hidden {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.install {
  background: #fff; 
  border-radius: 3px; 
  color: #000; 
  cursor: pointer; 
  font-size: 13px; 
  line-height: 26px;
  margin-left: 4px; 
  margin-top: 8px; 
  padding: 10px; 
  text-align: center; 
  width: 40px; 
}

.button {
  background: #000;
  padding: 4px 14px;
  cursor: pointer;
  color: #fff;
}

#settings table td {
  line-height: 40px;
}

#overlay {
  background: rgba(0,0,0,.92);
  height: 100%;
  left: 0;
  position: fixed;
  top: 53px;
  width: 100%;
}

.modal {
  background: #fff;
  box-sizing: border-box; 
  color: #000;
  font-size: 15px;
  height: auto;
  left: calc(50% - 350px);
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 100px;
  width: 700px;
  z-index: 50;
}

.embedly-card {
  margin-top: -33px;
}

@media (max-width: 640px) {
  .alert,
  .try-chrome-plugin{
    display: none !important;
  }

  .link {
    max-height: 720px;
  }
}